#splash {
    /* load the picture (Pixabay license: Free for commercial use, mo attribution required) */
    -fx-background-image: url("agate_pixabay_free_license_480x360.png");
    -fx-background-color: transparent;
    -fx-background-repeat: stretch;
    -fx-background-size: 480 360;
    -fx-background-position: center center;
}

.progress-bar > .bar {
    -fx-background-color: green;
}

#progressbox {
    -fx-alignment: center;
}

.label {
    -fx-font-size: 24px;
    -fx-label-padding: 10px;
}